**/.DS_Store
TestResult.xml
*.gz
*.rdb
*.orig
*.userprefs

Components/
Scratch/
TestResults/
packages/
**/npm-debug.log
**/bin/Debug/**
**/bin/iPhoneSimulator/**
**/bin/iPhone/**
**/bin/Release/**
**/obj/**
**/obj/Debug/**
**/obj/Release/**
**/obj/iPhoneSimulator/**
**/obj/iPhone/**
**/obj/Xcode/**
**/node_modules/**
**/bower_components/**
**/build/**

