<appSettings>
    <add key="ServiceUrl" value="http://*:1360" />
    <add key="MongoDbUrl" value="mongodb://localhost:27017/soapbox" />
    <add key="CacheHostUrl" value="redis://localhost:6379" />
    <add key="AwsSesSmtpUrl" value="smtp://AKIAIKVHW6O5WWHSUWDA:Akew4PBnzCCtFNoDOXREUUFDdNmmHy4iKrLNx0cC8DXF@email-smtp.us-west-2.amazonaws.com:587" />
    <add key="CorsAllowedOrigins" value="http://localhost:4000,http://localhost:4001" />
    <add key="WebsiteUrl" value="http://localhost:4000" />
    <add key="SupportEmail" value="support@jamoki.com" />
    <add key="servicestack:license" value="1733-e1JlZjoxNzMzLE5hbWU6ImhvdGRvdFRWLCBJbmMuIixUeXBlOkluZGllLEhhc2g6TnY0UlowQTJCL2pmb2JDa2dURFU4WWdBcnFCSE8wYnpLWFAxdWVUUnBKck1neFhra25HQ1F3UlFwTmsvdlBUendoY2plUmJ0Qk43WEhPMjdjQ0Q3UGFXNnlFb3FudCt0RWhucDZKZXZlaVJxSVhvT1E4YXRvcnVKaW1UTWk3NG9iVjhTTHE0SDRYZFhZdmxTR1Vjbmo1d2ZVZnY4alNXMXVnOHNwUXJoL1BjPSxFeHBpcnk6MjAxNS0wNy0xOX0=" />
    <add key="DebugMode" value="true" />
    <add key="SitesFile" value="sites.config" />
    <!-- For testing only!!! Let production systems pick their own secrets -->
    <add key="LoginTokenSecret" value="08734sth243l8g2ths2th348gaSHALECGUST13st" />
</appSettings>
