<appSettings>
    <add key="AWSProfile" value="backlog-backup" />
    <add key="MaxBackups" value="10" />
    <add key="BucketName" value="backlog-db-backups" />
    <add key="EMailTo" value="john@jamoki.com" />
    <add key="OnEC2System" value="false" />
    <add key="MongoUrl" value="mongodb://localhost:27017/backlog" />
</appSettings>
